.register-window {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: flex-start;
    align-items: center;
    max-width: 50vw;
   
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;

    .header_register{
        text-align: center;

        .Logo {
            background-image: url(/img/logo.svg);
            background-repeat: no-repeat;
            background-size: 2rem auto;
            padding-left: 2.5rem;
            background-position: left;
        
            font-family: "Aileron";
            font-size: 2rem;
        
            color: #002E5D;
        
        }

        h1 {
            margin-top: 15%;
            color: black;
        }

    }
   

    form {
        margin-top: 0.5rem;
        width: 100%;
        margin-left: 150px;
        label, input {
            margin: 1rem 1rem 1rem 0;
        
        }

        .input-container {
            position: relative;
        }
        
        .email-icon, .lock-icon, .user-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0rem;
        }

        input {
            border-width: 0 0 1px 0;
            width: 70%;
            background-color: #ffffff;
            &:focus {
                outline: none;
            }
        }

        input::placeholder {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 25px;
        }

        .password-input-container{
            position: relative;

            .eye-icon {
                position: absolute;
                top: 50%;
                right: 9rem;
                transform: translate(0, -50%);
                cursor: pointer;
            }
        }
    }

    button {
        padding: 0.5rem 1rem;
        background-color: #002E5D;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-block-end: 1rem;
    }

    button:hover {
        background-color: #000000; 
    }

    p{
        white-space: nowrap;
        display: flex; 
        align-items: center;
        margin-bottom: 50px;
        .NavLink {
            text-decoration:none;
            color:#002E5D;
        }
    }
}




// .register {
//     color:#45a049;
//     cursor: pointer;
//     text-decoration:none;
// }

