nav {
    max-height: fit-content;
    margin-top: 2rem;
    margin-bottom: 10px;
    ul {
        list-style-type: none;
        display: flex;
        margin: 2px;
        justify-content: center;
        align-items: center;
        gap:30px;
        li {
            .NavLink {
                padding: 0.2rem 1rem 0.2rem 1rem;
                margin: 0;
                text-decoration: none;
                font-family: "Inter";
                font-size: 24px;
                color: #002E5D;
                font-weight:900;
            }

            a:hover {
                background-color: gray;
            }

            .sale-button {
                border: none;
                font-size: 16px;
                font-weight: bold;
                width: 4rem;
                height: 2rem;
                background-color: #002E5D;
                color: white;
                border-radius: 7px;
                cursor: pointer;
            }
        }
    }
}

.cat-sub-menu {
    border: 1px solid black;
    background-color: black;
    color: white;
    min-width: 10rem;
    font-size: 1.5rem;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
}