


.login-page{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/13;
    header{
        padding-bottom: 1rem;
    }
    .login {
        padding: 0 0;
        grid-row: 2 / 3;
        grid-column: 1 / 13;
        display: grid;
        grid-template-columns: subgrid;
        background-color: #E4EEFA;
        .login-form-container {
            grid-column: 4 / 8;
            width: 4fr;
            margin-top: 5rem;
            margin-left: 4rem;
        }
    }
}