.cart-page{
    grid-row: 2 / 3;
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: subgrid;

    h3 {
        grid-column: 2/13;
        grid-row: 2 / 3;
        color:#002E5D;
        font-size: 24px;
    }

    .process{
        grid-column: 4/10;
        grid-row: 1 / 2;
        margin-left: 100px;
        margin-top: 50px;
    }
    
}

.cart-list-container {
    grid-column: 2 / 6;
    border: 1px solid #e2e2e2;
    border-radius: 7px;
    margin-bottom: 50px;
    ul {
        list-style: none;
        padding: 15px;
        
        li {
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            margin-bottom: 20px;
            .cart-item  {
                display: flex;
                align-items: center;
                img {
                    max-width: 100px;
                }

                .detail-container {
                    margin-left: 30px;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    .product-name{
                        h4{
                            font-size: 16px;
                        }
                    }
                    .price {
                        h3 {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}

.total {
    grid-column: 7 / 13;
    margin-left: -60px;
    .total-detail-container {
        border: 1px solid #ccc;
        width: 400px;
        padding: 0 10px 10px 20px;
        margin-bottom: 50px;
        border-radius: 7px;
        h1{
            margin-bottom: 25px;
            margin-top: 15px;
            font-size: 24px;
            .not-red {
                color:#002E5D;
            }

            display: flex;
            justify-content: space-between;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
        }

        .pay-button {
            width: 80%;
            height: 40px;
            border-radius: 10px;
            background-color: #003c6a;
            color: white;
            font-size: 20px;
            font-weight: bold;
            margin-left: 10%;
            border: 1px solid #ccc;
            &:hover{
                background-color: #2c88cf;
                color: black;
                
            }
        }
        li{
            margin-bottom: 20px;
        }

    }
}