.cart-page{
    grid-row: 2 / 3;
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: subgrid;

    
}

.cart-list-container {
    grid-column: 2 / 6;

    ul {
        list-style: none;
        border: 1px solid #ccc;
        padding: 15px;
        li {
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            margin-bottom: 20px;
            .cart-item  {
                display: flex;
                align-items: center;
                img {
                    max-width: 100px;
                }

                .detail-container {
                    margin-left: 30px;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    .price {
                        h3 {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}

.total {
    grid-column: 7 / 13;
    
    .total-detail-container {
        margin-top: 60px;
        border: 1px solid #ccc;
        width: 300px;
        padding: 20px;

        h1{
            font-size: 24px;
            .not-red {
                color:black
            }

            display: flex;
            justify-content: space-between;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
        }

        .pay-button {
            width: 80%;
            height: 50px;
            border-radius: 10px;
            background-color: #003c6a;
            color: white;
            font-size: 20px;
            font-weight: bold;
            margin-left: 10%;
        }

    }
}