// styles.scss

.app {
  display: flex;
  grid-column: 1/13;
  margin-bottom: 40px;
  margin-top: 20px;
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-inline-start: 120px;
  
  .sort_container{
    display:block;
    span{
      font-size: 15px;
    }
    select{
      padding: 3px;
      border-radius: 5px;
      border: 1px solid rgb(157, 157, 157);
      margin-inline-start: 5px;
      color: #003c6a;
      font-size: 16px;
    }
  }
  .product_list2{
    display: grid;
    grid-column: 1/4;
    grid-row: 2/3;
    grid-template-columns: subgrid;
    gap: 20px;
    min-width: 500px;
  }
  .pagination{
    grid-row: 3/4;
    grid-column: 2/3;
    margin:auto;
    button {
      margin: 5px;
      background-color: var(--brand-color);
      border-radius: 10px;
      background-color: white;
      border: 1px solid rgb(192, 192, 192);
      font-weight: bold;
      &:hover{
        background-color: #003c6a;
        color:white;
      }
      &.active {
        background-color: #003c6a;
        color: white;
      }
    }
  }
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 18rem;
  height: 21rem;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  article{
  h4{
    margin: 5px 0;
    width: 240px;
    margin-left: 35px;
    color:#002E5D;
    height: 37px;
  }
  img {
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
  }
  button{
    background-color: #003c6a;
    color:white;
    margin-left: 4px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 16px;
    &:hover{
      background-color: #2c88cf;
      color: black;
      
    }
  }
  .add-to-cart-button{
    background-color: #E4EEFA;
    color: black;
    padding: 6px 39px 8px 38px;
    font-size: 15px;
  }
  .price-container{
    .discount-price{
      margin: 0 0;
      margin-top: 8px;
      margin-bottom: 10px;
    .discounted{
      font-size: 20px;
      color:red;
      font-weight: bold;
    }
    .original{
      margin-left: 20px;
      text-decoration: line-through;
    }
  }
  }
  .added-to-cart-message{
    color: #003c6a;
    font-size: 10px;
    margin-block-start: 7px;
  }
}
}

.filter_container{
  min-width: 270px;
  .category-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    color: #002E5D;
    margin-left: 50px;
    margin-inline-end: 50px;

    span {
      margin-right: 10px;
    }
    img{
      float: left;
      margin-right: 7px;
      width: 20px;
      height: 21px;
    }
    h2{
      margin: 0 0;
      font-size: 21px;
    }
    h3{
      margin: 0 0;
      font-size: 21px;
      margin-left: 20px;
    }
    label {
      margin-right: 10px;
      margin-top: 8px;
      display: flex;
      align-items:normal;

      input {
        margin-right: 5px;
        width: 15px;
        height: 15px;
      }
    }
  }
  
}
}

