.login-window {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: flex-start;
    align-items: center;
    max-width: 50vw;
   
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
   .header-login{
        text-align: center;
        h1 {
            margin-top: 15%;
        }
        .logo {
            background-image: url(/img/logo.svg);
            background-repeat: no-repeat;
            background-size: 2rem auto;
            padding-left: 2.5rem;
            background-position: left;
        
            font-family: "Aileron";
            font-size: 2rem;
        
            color: red;
        }
   }

    form {
        margin-top: 2.5rem;
        width: 100%;
        label, input {
            margin: 1rem;
        }

        input {
            border-width: 0 0 1px 0;
            width: 80%;
            background-color: #fbfbfb;
            &:focus {
                outline: none;
            }
        }
        .options-row {
            justify-content: space-between; 
            align-items: center;
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            column-gap: 10px;
            
            .remember-account{
                display: flex;
                align-items: center;
        
                input {
                    min-width: 50px;
                    margin-left: -70px;
                }
                label{
                    min-width:100px;
                    margin-left: -100px;
                }
            }
            .forgot-password{
                text-align: right;
                margin-right: 50px;
                
                a{
                    text-decoration:none;
                    color:#45a049;
                }
               
            }
        }
    }
    button {
        padding: 0.5rem 1rem;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-block-end: 1rem;
        margin-top: 1rem;
    }

    button:hover {
        background-color: #45a049; 
    }

    p{
        white-space: nowrap;
        display: flex; 
        align-items: center;
        .NavLink {
            text-decoration:none;
            color:#45a049;
        }
    }
    
}

