.login-window {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    gap: 3rem;
    align-items: center;
    max-width: 50vw;
    min-height: 50vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;

    h1 {
        margin-top: 15%;
    }

    form {
        width: 100%;

        label, input {
            margin: 1rem;
        }

        input {
            border-width: 0 0 1px 0;
            width: 80%;

            &:focus {
                outline: none;
            }
        }
    }
}