.login-window {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: flex-start;
    align-items: center;
    max-width: 50vw;
   
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
   .header-login{
        text-align: center;
        h1 {
            margin-top: 15%;
            color:#000000;
            margin: 0 0;
        }
        .Logo {
            background-image: url(/img/logo.svg);
            background-repeat: no-repeat;
            background-size: 2rem auto;
            padding-left: 2.5rem;
            background-position: left;
        
            font-family: "Aileron";
            font-size: 2rem;
        
            color: #002E5D;
        }
   }

    form {
        margin-left:150px;
        margin-top: 0.5rem;
        width: 100%;
        label, input {
            margin: 1rem 1rem 1rem 0;
        }
        .input-container {
            position: relative;
            border-bottom: 1px solid black;
        }
        
        .email-icon, .lock-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0rem;
            margin-left: -19px;
        }

        input {
            border-width: 0 0 1px 0;
            width: 70%;
            background-color: #ffffff;
            &:focus {
                outline: none;
            }
            border: none;
        }
        input::placeholder {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 25px;
        }
        .options-row {
            justify-content: space-between; 
            align-items: center;
            display: grid;
            grid-template-columns: 0.5fr 0.5fr;
            column-gap: 0px;
            
            .remember-account{
                display: flex;
                align-items: center;
        
                input {
                    margin-left: -85px;
                }
                label{
                    margin-left: -85px;
                }
            }
            .forgot-password{
            
                margin-right: 50px;
                
                a{
                    text-decoration:none;
                }
               
            }
        }
        
        .password-input-container{
            position: relative;

            .eye-icon {
                position: absolute;
                top: 50%;
                right: 9rem;
                transform: translate(0, -50%);
                cursor: pointer;
                margin-right: 45px;
            }
        }
    }
    button {
        padding: 0.5rem 1rem;
        background-color: #002E5D;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-block-end: 1rem;
        margin-top: 1rem;
    }

    button:hover {
        background-color: #000000; 
    }

    p{
        white-space: nowrap;
        display: flex; 
        align-items: center;
        margin-bottom: 50px;
        .NavLink {
            text-decoration:none;
            color:#002E5D;
        }

    }
    
}

