.home {
    padding-bottom: 1rem;
    grid-row: 2 / 3;
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: subgrid;
    background-color: white;

    .banner-container {
        border-bottom: 1px solid black;
        padding-bottom: 1rem;
        grid-column: 1 / 13;
        grid-row: 1 / 2;
        background-color: var(--brand-color);
    }

    .main-content {
        margin-top: 2rem;
        grid-column: 2 / 12;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: subgrid;

        .quick-choice {
            grid-row: 1 / 2;
            grid-column: 1 / 11;
            display: flex;
            justify-content: center;
            padding: 0;
            min-height: 10rem;

            .quick-choice-list {
                display: flex;
                list-style: none;
                height: 50px;
                margin: 0;
                gap: 5vw;
                padding: 0;
                min-height: fit-content;

                li {
                    margin: 0;
                    min-width: 100px;
                }
            }
        }

        .new-product {
            grid-column: 1 / 11;
            grid-row: 2 / 3;
            .product-list {
                display: flex;
                justify-content: center;
                padding: 0;
                list-style: none;
                gap: 5rem;
                flex-wrap: wrap;

                li {
                    .product-card {
                        h4 {
                            font-size: 20px;
                        }

                        p {
                            display: none; // Ẩn mô tả ban đầu
                        }
                    }
                }
            }

            button {
                display: block;
                margin: 1rem auto;
                background-color: var(--brand-color);
                color: rgb(71, 68, 68);
                padding: 0.5rem 1rem;
                border: none;
                cursor: pointer;
                border-radius: 10px;
                //font-family: ;
            }
        }

        // .new-article{
        //     margin-bottom: 2rem;
        //     grid-column: 1 / 13;
        //     display: flex;
        //     justify-content: center;
        //     padding: 0;
        //     border-bottom: 1px solid rgb(0, 0, 0)0e;
        // }
        
    }
}
