/* Thêm nội dung này vào file productdetail.scss hoặc một file SCSS khác */

.product-detail {
  display: flex;
  grid-column: 1/13;
  padding: 0 0;
  margin-bottom: 40px;
.img{
  width: 600px;
  height: auto;
  margin-left: 190px;
  margin-top: 20px;
  .image {
    width: 567px; 
    height: 450px;
  }

  .image1 {
    width: 150px;
  }
}

.buy-now-button, .add-to-cart-button{
  background-color: #003c6a;
  color:white;
  margin-right: 4px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
  padding: 8px 40px;
  cursor: pointer;
  &:hover{
    background-color: #2c88cf;
    color: black;
    
  }
}
.added-to-cart-message{
  color: #003c6a;
  font-size: 10px;
  margin-block-start: 7px;
  display: flex;
}
.add-to-cart-button{
  background-color: #E4EEFA;
  color: black;
  padding: 6px 59px 8px 58px;
  font-size: 15px;
}

.content{
  margin-inline-start: 110px;
  .options{
    p{
      margin:0;
      margin-top: 20px;
      margin-bottom: 7px;
      font-weight: bold;
    }
    
    input{
      margin-left: 20px;
      margin-right: 5px;
      width: 17px;
      height: 17px;
    }
    label{
      display: inline-flex;
      align-items: center;
     
    }
  }

  .rating{
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    .rat{
      font-size: 18px;
      margin-right: 10px;
    }
  .star-icon {
    color: #ffd700; /* Màu vàng cho ngôi sao đầy đủ */
    margin-right: 2px; /* Khoảng cách giữa các ngôi sao */
  }
}
  h2 {
    margin-bottom: 10px; /* Khoảng cách giữa tên và giá */
    color: #002E5D;
  }

  .price-container {
    display: flex;
    height: 30px;
    margin-bottom: 5px; /* Khoảng cách giữa giá và mô tả */
  }

  .discount-price {
    display: flex;

    .discounted, .original, .gach {
      font-size: 1.2em; /* Kích thước lớn hơn cho giá giảm */
      color: rgba(200, 2, 2, 0.714); /* Màu đỏ cho giá giảm */
      margin-right: 10px;
      font-weight: bold;
    }
    

    // .original {
    //   text-decoration: line-through; /* Gạch ngang cho giá gốc */
    // }
  }
  .num-reviews, .num-sold, .rating{
    margin-bottom: 10px;
  }

}

.quantity {
  display: flex;
  align-items: center; 
  p{
    margin-right: 20px;
  }
}

.quantity-button{
  padding: 0 3px 0 3px; /* Điều chỉnh padding theo nhu cầu */
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.quantity-info {
  margin: 0 10px; /* Khoảng cách giữa nút và số lượng */
  font-size: 18px; /* Điều chỉnh kích thước font theo nhu cầu */
}

}
.details{
  grid-column: 2/11;
  margin: 0 0;
  h3{
    margin: 0 0;
    color:#002E5D;
    font-size: 24px;
    font-weight: bold;
  }
  li{
    margin-top: 20px;
    list-style: none;
  }
}

.reviews{
  grid-column: 2/11;
  margin-bottom: 30px;
  .rating-summary {
    display: grid;
    width: 1000px;
    align-items: center;
    flex-wrap: wrap; 
    margin-top: 30px;
    margin-left: 45px;
    padding: 20px 40px;
    border: 1px solid rgb(193, 193, 193);
   
    .hd{
      grid-column: 1/2;
      p{
        font-size: 18px;
        font-weight: bold;
        width: 80px;
      }
    }
    .ft{
      grid-column: 2/auto;
      margin-left: -6px;
      grid-template-rows: 2, 40px;
      p{
        border-radius: 5px;
        border: 1px solid rgb(193, 193, 193);
        padding: 5px 10px;
        height: 15px;
      }
      .danhgia{
        display: flex;
        gap:30px;
        grid-row: 1/2;
      }
      .video{
        grid-row: 2/3;
        width: 150px;
        margin-top: 10px;
      }

    }
    p{
      margin: 0;
    }
  }

  h3{
    margin: 20px 0 0 0;
    color:#002E5D;
    font-size: 24px;
    font-weight: bold;
  }
  li{
    margin-top: 20px;
    list-style: none;
    border-bottom: 1px solid rgb(187, 187, 187);
  }
  .star-icon{
    color:#ffd700;
  }
  strong{
    margin: 0 10px;
  }
  .reviewdate{
    color: #898989;
  }
  p{
    margin-left: 20px;
  }
}

.add-review{
  margin-top: -20px;
  margin-left: 38px;
  margin-bottom: 30px;
  height: 37px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  textarea{
    border: 1px solid rgb(191, 190, 190);
    border-radius: 5px;

  }

  textarea::placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

  .button{
    height: 50px;
    margin-top: 23px;
    margin-left: 20px;
    button{
    background-color: #002E5D;
    color: white;
    padding: 5px 8px;
    border-radius: 7px;
    border-color: white;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    }
    button:hover{
      background-color: #898989;
    }
}
    
}

.similar-products{
  grid-column: 2/12;
  margin-bottom: 30px;
  h3{
    font-size: 24px;
    color: #002E5D;
  }
 .similar-products-list{
  display: flex;
  flex-wrap: wrap;
 
  .product {
    margin-left: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 18rem;
    height: 21rem;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    article{
    h4{
      margin: 5px 0;
      width: 220px;
      margin-left: 35px;
      color:#002E5D;
      height: 37px;
    }
    img {
      max-width: 100%;
      height: 200px;
      border-radius: 5px;
    }
    button{
      background-color: #003c6a;
      color:white;
      margin-left: 4px;
      border: 1px solid rgb(210, 210, 210);
      border-radius: 5px;
      cursor: pointer;
      padding: 8px 16px;
      &:hover{
        background-color: #2c88cf;
        color: black;
        
      }
    }
    .add-to-cart-button{
      background-color: #E4EEFA;
      color: black;
      padding: 6px 39px 8px 38px;
      font-size: 15px;
    }
    .price-container{
      .discount-price{
        margin: 0 0;
        margin-top: 8px;
        margin-bottom: 10px;
      .discounted{
        font-size: 20px;
        color:red;
        font-weight: bold;
      }
      .original{
        margin-left: 20px;
        text-decoration: line-through;
      }
    }
    }
    .added-to-cart-message{
      color: #003c6a;
      font-size: 10px;
      margin-block-start: 7px;
    }
  }
  }
}
}


