.social-media-list {
    display: flex;
    list-style: none;
    gap: 2rem;
    li {
        a {
            img {
                padding: 3px;
                border: 1px solid black;
                border-radius:  7px;
                height: 29px;
                width: 29px;
            }
        }
    }
}