.thanks-page {
    grid-column: 1 / 13;
    margin-bottom: 50px;
    .process{
        grid-column: 4/10;
        grid-row: 1 / 2;
        margin-left: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    div {
        display: flex;
        justify-content: center;
        grid-row: 2 / 3;
        .message {
            margin-left: 115px;
            border: 1px solid #ccc;
            width: 800px;
            height: 300px;
            margin-bottom: 50px;
            border-radius: 10px;
            .icon{
                height: 30px;
                margin-top: 40px;
                font-size: 30px;
            }
            div {
                height: 80px;
                h1 {
                    font-size: 40px;
                    color: #003c6a;
                    margin-top: 10px;
                }
                p {
                    margin-top: -5px;
                    margin-left: 10px;
                    font-size: 16px;
                    font-weight: bold;
                }

                button {
                    margin-top: -30px;
                    width: 250px;
                    height: 40px;
                    background-color: #003c6a;
                    color:white;
                  
                    border-radius: 10px;
                    padding: 0 20px;
                }
            }
        }
    }
}