.thanks-page {
    grid-column: 1 / 13;

    div {
        display: flex;
        justify-content: center;

        .message {
            border: 1px solid #ccc;
            width: 600px;
            height: 300px;
            margin-bottom: 20px;
            div {

                h1 {
                    font-size: 40px;
                    color: #003c6a;
                }
                p {
                    font-size: 16px;
                }

                button {
                    margin-top: 50px;
                    width: 200px;
                    height: 50px;
                    background-color: #003c6a;
                    color:white;
                    font-weight: bold;
                }
            }
        }
    }
}