header {
    padding: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    background-color: white;
    
    .site-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}