header {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    background-color:var(--brand-color);
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: subgrid;
    background-color: white;

    .header-location-link {
        grid-column: 1 / 13;
        background-color: var(--brand-color);
        padding: 5px;
    }

    .header-content {
        padding-top: 5px;
        grid-column: 2 / 12;
        display: grid;
        grid-template-columns: subgrid;

        .site-name {
            grid-row: 2 / 3;
            grid-column: 1 / 11;
            min-width: 1080px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }  

        .navigation {
            grid-column: 1 / 11;
            grid-row: 3 / 4;
        }
    }
}