header {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    background-color:var(--brand-color);
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: subgrid;
    padding-top: 2rem;
    .header-content {
        grid-column: 3 / 11;
        min-width: 800px;
        .site-name {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }   
    }
}