.banner {
    display: flex;
    justify-content: right;

    // thuộc tính liên quan đến animation
    position: relative;
    overflow: hidden;
    
    // Thiết lập keyframes cho chuyển động
    @keyframes rotate {
        0% { transform: translateX(0%); }
        100% { transform: translateX(-100%); }
    }
    
        margin-right: -626px;
    // Thiết lập animation cho vòng lặp
    animation: rotate 7s linear infinite;
}

