.logo {

    min-width: 2rem;
    min-height: 2rem;
    background-image: url(/img/logo.svg);
    background-repeat: no-repeat;
    background-size: 2rem auto;
    padding-left: 3.5rem;
    background-position:5% 50%;

    font-family: "Aileron";
    font-size: 2rem;

    text-decoration: none;
    color: red;
    &:hover {
        border: 1px solid aquamarine;
    }

        padding-top:2px;
        padding-bottom: 2px;
        padding-right: 5px;

}


