.logo {
    min-width: 3rem;
    min-height: 3rem;
    background-image: url(/img/logo.svg);
    background-repeat: no-repeat;
    background-size: 3rem auto;
    padding-left: 3.5rem;
    background-position: left;

    font-family: "Meowcat";
    font-size: 3rem;

    text-decoration: none;
    color: red;
}


