.login-button {
        border: 1px solid #2accc8;
        background-color: inherit;
        font-size: 2rem;
        margin-left: -10vw;
        &:hover {
            border: 1px solid aquamarine;
        }
}