@font-face {
  font-family: Meowcat;
  src: url(../src/assets/fonts/Meowcat.ttf);
}

@font-face {
  font-family: MinouDemoRegular;
  src: url(../src/assets/fonts/MinouDemoRegular.otf);
}

@font-face {
  font-family: Aileron;
  src: url(../src/assets/fonts/Aileron.otf);
}

html {
  min-width: 1000px;
  max-width: 1920px;
  // background-image: url(./assets/img/background.svg);
  // background-size: 500px 500px;
  // background-repeat:repeat;
}

body {
  margin: 0 auto;
}

#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  --brand-color:#f2e1df;
  background-color: var(--brand-color);
}

h1 {
  color: red;
}

a {
  color: black;
}

main {
  min-height: 800px;
}