@font-face {
  font-family: Meowcat;
  src: url(../src/assets/fonts/Meowcat.ttf);
}

@font-face {
  font-family: MinouDemoRegular;
  src: url(../src/assets/fonts/MinouDemoRegular.otf);
}

@font-face {
  font-family: Aileron;
  src: url(../src/assets/fonts/Aileron.otf);
}

@font-face {
  font-family: Inter;
  src: url(../src/assets/fonts/Inter-Regular.ttf);
}

html {
  min-width: 1000px;
  max-width: 1920px;
}

body {
  margin: 0 auto;
}

#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  --brand-color:#ffffff;
  font-family: "Inter";
  background-color: var(--brand-color);
}

h1 {
  color: red;
}

a {
  color: black;
}

main {
  min-height: 600px;
}