footer {
    grid-column: 1 / 13;
    border-top: 1px solid rgb(182, 179, 179);
    margin-top: 0;

    display: grid;
    grid-template-columns: subgrid;
    background-color:#E4EEFA;
    
    .footer-overall {
        grid-column: 1 / 13;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: subgrid;
        align-items: center;

        .footer-logo-container {
            margin-top: 1rem;
            grid-column: 1 / 8;
    
        }

        .footer-location-container {
            padding-left: 2rem;
            grid-column: 8 / 13;
        }
    }

    .footer-info {
        grid-column: 1 / 13;
        grid-row: 2 / 3;
    }

    .copy-right{
        grid-column: 1 / 13;
        grid-row: 3 / 4;
        background-color: #ffffff;
        p{
            margin-left: 100px;
        }
    }

}