.starter {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    margin-right: 2rem;


    .option-login, .option-register {
        padding: 1rem;
    }

    .option-login {
        border-bottom: 1px solid black;
    }
}