.quick-choice-button {
    
    background-color: var(--brand-color);
    padding: 0.5rem;
    border-radius: 25px;
    min-width: 20rem;
    &:hover {
        background-color: #2acc8e;
    }
}