.sub-cart-page {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: subgrid;
    
    .delivery {
        margin-top: 45px;
        grid-column: 7/13;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
        margin-bottom: 10px;
    }
}

.dealer {
    margin-left: 10%;
    width: 80%;

    input {
        width: 50%;
        height: 40px;
        border: 1px solid #ccc;
    }

    button {
        border: 1px solid #ccc;
        height: 45px;
        width: 30%;
        background-color: #003c6a;
        color: white;
    }
}