.sub-cart-page {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: subgrid;
    h3{
        grid-column: 2 / 13;
        grid-row: 3 / 4;
        color:#002E5D;
        font-size: 24px;
    }
    .process{
        grid-column: 4/10;
        grid-row: 2 / 3;
        margin-left: 100px;
        margin-top: 50px;
    }

    .delivery {
        grid-column: 7/13;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
        margin-bottom: 10px;
    }

    .cart-list-container {
        grid-column: 2 / 6;
        border: 1px solid #ccc;
        margin-bottom: 80px;
        
        ul {
            list-style: none;
            padding: 15px;
            li {
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                margin-bottom: 20px;
                .cart-item  {
                    display: flex;
                    align-items: center;
                    img {
                        max-width: 100px;
                    }
    
                    .detail-container {
                        margin-left: 30px;
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
    
                        .price {
                            h3 {
                                color: red;
                            }
                        }
                    }
                }
            }
        }

        .fee, .fee2 {
            border-top: 1px solid #ccc;
            display: flex;
            justify-content: space-between;
            margin-left: 20px;
            margin-right: 20px;
        }
        .fee{
            height: 40px;
        }
        .fee3{
            display: flex;
            justify-content: space-between;
            margin-left: 20px;
            margin-right: 20px;
            height: 40px;
        }

        .fee2{
            font-size: 24px;
            font-weight: bold;
            .red {
                color: red;
            }
        }
    }
}

.dealer {
    margin-top: -20px;
    margin-left: 20px;
    width: 80%;
    margin-bottom: 20px;

    input {
        width: 50%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input::placeholder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 25px;
    }

    button {
        border: 1px solid #ccc;
        height: 45px;
        width: 30%;
        background-color: #003c6a;
        color: white;
        border-radius: 9px;
        margin-left: 10px;
    }
}