.sub-cart-page {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: subgrid;
    
    .delivery {
        margin-top: 45px;
        grid-column: 7/13;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
        margin-bottom: 10px;
    }
}